.item{
   border-radius: 10px;
   border: 3px solid pink;
   margin-top: 20px;
   background-color: pink;
   display: flex;
   justify-content:space-between;
}
.item2{
    border-radius: 10px;
    border: 3px solid green;
    margin-top: 20px;
    background-color:  green;
    display: flex;
    justify-content:space-between;
 }
 .item3{
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
 }
.text{
    margin-left: 10px;
    margin-right: 10px;
}


